@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 35px !important;
        line-height: 35px !important;
        background-color: #6d4f64 !important;
    }
}

@media only screen and (min-width: 601px) {
    .navbar-fixed {
        height: 41px !important;
    }
}

#back_btn{
    float: left !important;
    cursor: pointer
}